#body1 {
    font-family: 'Encode Sans Condensed', sans-serif;
    background-image: url("../images/dinnerTable1.jpg");
    background-size: 100%;
}

#jumbotron {
    background-color: rgba(255, 249, 192, 0.75);
    margin-top: 100px;
    width: 100%;
    text-align: center;
}

.usa {
    width: 50%;
    height:50%;
}
.gd{
    width: 50%;
    height:50%;
}

.italy{
    width: 50%;
    height:50%;
}
.thai{
    width: 50%;
    height:50%;
}

.ind{
    width: 50%;
    height:50%;
}

.china{
    width: 50%;
    height:50%;
}

.jap{
    width: 50%;
    height:50%;
}
.sweets{
    width: 50%;
    height:50%;
}